@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #3D473F;

    --foreground: #765E71;
    --foreground-offset: #75927B;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
