@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #3D473F;

    --foreground-offset: #765E71;
    --foreground: #75927B;

    --primary: var(--foreground);
    --primary-foreground: white;
    --primary-offset: var(--foreground-offset);

    font-size: 16px;
}

p {
    @apply font-semibold;
}